@import '../common.scss';
@import '../themes.scss';
@import '../mixin.scss';
@import './sidebar.scss';
@import './navbar.scss';
@import './setting.scss';
@import './tagsview.scss';

#app {
  width: 100%;
  height: 100%;
}
.el-container {
  height: 100%;
}

// ----------main----------
.el-main {
  color: var(--label-font-color);
  background-color: $contentBgColor;
  // padding: $paddingWidth;
  padding: 0px; // 由内容页自己控制边距
}




